.project-container {
    background-color: rgb(227, 232, 232);
}

#projects {
    background-color: white;
    display: inline-block;
    padding: 20px;
    margin: 30px;
    border: none;
    border-bottom: 1px solid rgb(166, 195, 199);
}

.cards {
    width: 30vw;
    height: auto;
}

.name {
    color: rgb(145, 191, 191);
    font-size: 2vw;
    font-weight: bold;
}

.skills {
    font-size: 1.5vw;
}

.cards img {
    border: 1px solid rgb(225, 225, 225);
    width: 30vw;
}

#buttons {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}

.project-links {
    font-size: 1.5vw;
}

.cards button {
    padding: 1px;
    border: none;
    border-radius: 50px;
}

/* tablet responsive */
@media (max-width: 820px) {
    #projects {
        width: 70vw;
    }

    .cards {
        width: 100%;
        height: auto;
    }

    #project-images {
        width: 100%;
    }

    .name {
        font-size: 5vw;
    }

    .skills {
        font-size: 3vw;
    }

    .project-links {
        font-size: 3vw;
    }

    #buttons {
        width: 70%;
        margin: auto;
    }

}

@media (max-width: 375px) {
    #buttons {
        width: 100%;
        margin: auto;
    }
}