#technology {
    background-color: rgb(187, 221, 230);
    padding: 20px;
}

.tech img {
    width: 5vw;
    padding: 50px;
}

/* tablet responsive */
@media (max-width: 820px) {
    .tech img {
        width: 10vw;
        padding: 10px;
    }
}