#about-container {
    display: flex;
    /* justify-content: space-between; */
    max-width: 70%;
    margin: auto;
    margin-bottom: 20px;
}

#profile {
    padding: 30px;
}

#profile-photo {
    width: 20vw;
}

.title h1 {
    color: #a5bdc4;
}

.links {
    display: flex;
    justify-content: center;
}

.icons {
    width: 30px;
    height: 30px;
}

#description {
    background-color: rgb(210, 227, 240);
    padding: 50px;
}

#header {
    color: rgb(104, 172, 195);
}

.caption {
    text-align: left;
    padding: 10px;
    color: rgb(53, 84, 105);
}

.button {
    border: none;
    background-color: rgb(196, 171, 142);
    margin: 10px;
    padding: 5px;
    width: 100px;
}

/* tablet responsive */
@media (max-width: 820px) {
    #about-container {
        display: flex;
        flex-direction: column;
        max-width: 90%;
    }

    #profile {
        margin: auto;
        width: 90%;
    }

    #profile-photo {
        width: 40vw;
    }

    .title h1 {
        font-size: 40px;
    }

    .title h5 {
        font-size: 30px;
        margin-top: 0;
    }

    .icons {
        width: 30px;
        height: 30px;
    }

    .caption p {
        font-size: 20px;
    }
}

@media (max-width: 375px) {

    #profile-photo {
        width: 50vw;
    }

    .title h1 {
        font-size: 30px;
    }

    .title h5 {
        font-size: 20px;
    }

    .icons {
        width: 25px;
        height: 25px;
    }

    #description {
        padding: 20px;
    }

    .caption p {
        font-size: 15px;
    }
}